<div class="lesson-content">
  <h2><%= @lesson.title %></h2>

  <%= raw @lesson.body %>
</div>


<% if is_authenticated? %>
  <%=link_to "Edit", edit_lesson_path%>
  <%=link_to "Delete", lesson_path, method: :delete %>
<%end%>
