
* {
  font-family: Arial, sans-serif;
}

body {
  margin: 2%;
}

h1 {
  color: #00567F;
}

h2 {
  color: #00567F;
}

a:hover {
  color: #008ACC;
}

a:visited {
  color: #9BA9B0;
}

a {
  color: #00ACFF;
}

.lesson-content {
  margin: 5%;
  padding:5%;
  border: 2px solid #9BA9B0;
}

.code-display {
  border: 1px solid black;
  margin: 5% 0 5% 0;

}

.lesson-form {
  font-size: 18px;
}